.bg-color-manager {
    background-color:#a56e3b ;
}
.bg-color-engineer {
    background-color: #487db7;
    
}
.bg-color-intern {
    background-color: #4a9130;
    
}

.bg-color-header {
    background-color: #8d1f1f;
    
}